<template>
  <div class="container home">
    <form-search />
  </div>
</template>

<script>
import FormSearch from '@/components/FormSearch';

export default {
  name: 'HomeView',

  components: {
    FormSearch,
  },
};
</script>

<style lang="scss" scoped>
.home {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
