<template>
  <div class="questions card">
    <div class="card-header">
      <h1 v-if="question" v-html="question.title"></h1>
    </div>
    <div class="card-body"
         v-if="question"
         v-html="question.body">
    </div>
    <div class="card-body">
      <spinner v-if="isReady"/>
      <answer-item v-for="answer in answers"
                   :key="answer.answer_id"
                   v-bind="answer" />
      <p v-if="!isReady && !answers.length">Not found answers</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import AnswerItem from '@/components/AnswerItem';
import Spinner from '@/components/Spinner';

export default {
  name: 'QuestionsView',

  props: {
    id: [ Number, String ],
  },

  components: {
    AnswerItem,
    Spinner,
  },

  computed: {
    ...mapState(['answers']),
    ...mapGetters(['getQuestionById', 'isReady']),
    question () {
      return this.getQuestionById(+this.id);
    },
  },

  methods: {
    ...mapActions(['searchAnswers', 'searchQuestion']),
    keyBinding (event) {
      switch (event.keyCode) {
        case 27:
          this.$router.back();
          break;
      }
    },
  },

  created () {
    window.scrollTo(0, 0);
    this.searchAnswers(this.id);
    if (!this.question) {
      this.searchQuestion(this.id);
    }

    window.addEventListener('keydown', this.keyBinding);
  },

  destroyed () {
    window.removeEventListener('keydown', this.keyBinding);
  },
};
</script>

<style lang="scss" scoped>
</style>
