<template>
  <div class="search container-fluid">
    <div class="card">
      <form-search class="card-header"
                   :default-value="$route.query.q || $route.query.tagged"/>
      <div class="card-body">
        <h3>Questions:</h3>
        <spinner v-if="isReady"/>
        <question-item v-for="(question, index) in questions"
                       :key="question.question_id"
                       :active="currentIndexFocus === index"
                       v-bind="question"/>
        <p v-if="!isReady && !questions.length">Not found questions</p>
      </div>
    </div>
  </div>
</template>

<script>
import isEmpty from 'lodash.isempty';
import isEqual from 'lodash.isequal';
import { mapState, mapActions, mapGetters } from 'vuex';
import FormSearch from '../components/FormSearch';
import QuestionItem from '../components/QuestionItem';
import Spinner from '../components/Spinner';

export default {
  name: 'SearchView',

  data () {
    return {
      currentIndexFocus: null,
    };
  },

  components: {
    FormSearch,
    QuestionItem,
    Spinner,
  },

  computed: {
    ...mapState([ 'questions' ]),
    ...mapGetters(['isReady']),
  },

  methods: {
    ...mapActions(['searchQuestions']),
    setIndexFocus (delta = 1) {
      const { currentIndexFocus, questions } = this;
      this.currentIndexFocus = ((currentIndexFocus + delta) % questions.length + questions.length) % questions.length;
    },
    init (query) {
      if (!isEmpty(query)) {
        this.searchQuestions(query);
      }
    },
    navigationArrowKeyboard (event) {
      switch (event.keyCode) {
        case 40:
          event.preventDefault();
          this.setIndexFocus(1);
          break;
        case 38:
          event.preventDefault();
          this.setIndexFocus(-1);
          break;
      }
    },
  },

  watch: {
    questions () {
      if (this.questions.length) {
        this.currentIndexFocus = 0;
      }
    },

    '$route' (to, from) {
      if (!to || !from || !isEqual(to.query, from.query)) {
        this.init(to.query);
      }
    },
  },

  created () {
    this.init(this.$route.query);
    window.addEventListener('keydown', this.navigationArrowKeyboard);
  },

  destroyed () {
    window.removeEventListener('keydown', this.navigationArrowKeyboard);
  },
};
</script>

<style lang="scss" scoped>

</style>
