<template>
  <div class="card answer">
    <div class="card-header">
      <h3>({{ score }}) {{ owner.display_name }}</h3>
    </div>
    <div class="card-body">
      <div v-html="body"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AnswerItem',

  props: {
    owner: Object,
    score: Number,
    body: String,
  },
};
</script>

<style lang="scss" scoped>
.answer {
  margin-bottom: 30px;
}
</style>
