<template>
  <div class="card">
    <div class="card-body">
      <spinner v-if="isReadyAuthorQuestions"/>
      <question-item v-for="question in questions"
                     :key="question.question_id"
                     v-bind="question"/>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import QuestionItem from '@/components/QuestionItem';
import Spinner from '@/components/Spinner';

export default {
  name: 'AuthorQuestions',

  components: {
    QuestionItem,
    Spinner,
  },

  computed: {
    ...mapState(['authorId']),
    ...mapGetters(['authorQuestions', 'isReadyAuthorQuestions']),
    questions () {
      return this.authorQuestions(this.authorId);
    },
  },
};
</script>

<style scoped>

</style>
