<template>
  <div class="input-group">
    <input type="text"
           class="form-control"
           placeholder="Enter your question"
           list="query-list"
           v-model="value"
           @keypress.enter="search">
    <datalist v-if="queries.length"
              id="query-list">
      <option v-for="query in queries"
              :key="query"
              :value="query"></option>
    </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary"
              type="button"
              :disabled="!value"
              @click="search">
        Search
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'FormSearch',

  props: {
    defaultValue: {
      type: String,
      default: '',
    },
  },

  data () {
    return {
      value: this.defaultValue,
    };
  },

  computed: {
    ...mapState(['queries']),
  },

  methods: {
    search () {
      const { value } = this;

      if (value) {
        this.$router.push({ name: 'search', query: { q: value } });
      }
    },
  },

  watch: {
    defaultValue (value) {
      if (value !== '') {
        this.value = value;
      }
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
