<template>
  <transition name="transition-modal">
      <div v-if="isShow" class="modal" role="dialog">
        <FocusLock class="modal__lock">
          <div class="modal__container">
            <slot></slot>
          </div>
          <button type="button"
                  class="btn modal__close"
                  aria-label="Close modal window"
                  @click="close">
            <icon-close class="modal__close-icon"/>
          </button>
        </FocusLock>
      </div>
  </transition>
</template>

<script>
import FocusLock from 'vue-focus-lock';
import IconClose from '@/components/icons/IconClose';

export default {
  name: 'Modal',

  props: {
    isShow: {
      type: Boolean,
      default: true,
    },
  },

  components: {
    FocusLock,
    IconClose,
  },

  methods: {
    close () {
      this.$emit('close');
    },

    keyBind (event) {
      switch (event.keyCode) {
        case 27:
          event.preventDefault();
          this.close();
          break;
      }
    },
  },

  created () {
    window.addEventListener('keydown', this.keyBind);
  },

  destroyed () {
    window.removeEventListener('keydown', this.keyBind);
  },
};
</script>

<style lang="scss">


  .modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 30px 60px 30px 30px;
    background-color: #fff;
    z-index: 20;
    transition: transform 0.7s, opacity 0.7s;

    &__lock {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex: 1 1 auto;

      > div[data-lock] {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1 1 auto;
      }
    }

    &__container {
      flex: 1 1 auto;
      overflow-y: auto;
    }

    &__close {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
    }

    &__close-icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .transition-modal {
    &-enter {
      &-active {
        transform: translateX(100%);
        opacity: 0;
      }

      &-to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &-leave {
      &-active {
        transform: translateX(0);
        opacity: 1;
      }

      &-to {
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }
</style>
