<template>
  <modal :isShow="isShowModalAuthorQueries"
         @close="hideModalAuthorQuestions">
    <author-questions />
  </modal>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Modal from '@/components/Modal';
import AuthorQuestions from '@/components/AuthorQuestions';

export default {
  name: 'ModalAuthorQuestions',

  components: {
    Modal,
    AuthorQuestions,
  },

  computed: {
    ...mapState(['isShowModalAuthorQueries']),
  },

  methods: {
    ...mapMutations(['hideModalAuthorQuestions']),
  },
};
</script>

<style scoped>

</style>
