<template>
  <transition name="transition-overlay">
    <button v-if="isShowOverlay" type="button" class="btn overlay" @click="hideAllModal"></button>
  </transition>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  name: 'Overlay',

  computed: {
    ...mapGetters(['isShowOverlay']),
  },

  methods: {
    ...mapMutations(['hideAllModal']),
  },
};
</script>

<style lang="scss" scoped>
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: opacity 0.7s;
}

.transition-overlay {
  &-enter {
    &-active {
      opacity: 0;
    }

    &-to {
      opacity: 1;
    }
  }

  &-leave {
    &-active {
      opacity: 1;
    }

    &-to {
      opacity: 0;
    }
  }
}
</style>
