<template>
  <section class="card question">
    <div class="card-header">
      <router-link ref="link" :to="{ name: 'questions', params: { id: question_id }}">
        <h4 v-html="title"></h4>
      </router-link>
    </div>
    <div class="card-body">
      <p>Created at: {{ createdAt}}</p>
      <p>Author:
        <button class="btn btn-sm btn-link"
                @click="showAuthorQuestions(owner.user_id)">
          {{ owner.display_name }}
        </button>
      </p>
      <p>Score: {{ score }}</p>
      <p>Answer count: {{ answer_count }}</p>
      <p>View count: {{ view_count }}</p>
    </div>
    <div class="card-footer d-flex flex-row justify-content-between">
      <div class="btn-group" role="group">
      </div>
      <div class="btn-group" role="group">
        <router-link v-for="tag in tags"
                    :key="tag"
                    class="btn btn-sm btn-outline-secondary" :to="{ name: 'search', query: { tagged: tag } }">
          {{ tag }}
        </router-link>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from 'vuex';
import { unixTimestampToTime } from '@/helpers/date';

export default {
  name: 'QuestionItem',

  props: {
    active: Boolean,
    title: String,
    question_id: Number,
    tags: Array,
    owner: Object,
    answer_count: Number,
    view_count: Number,
    score: Number,
    creation_date: Number,
  },

  computed: {
    createdAt () {
      return unixTimestampToTime(this.creation_date);
    },
  },

  methods: {
    ...mapActions(['showAuthorQuestions']),
  },

  watch: {
    active () {
      if (this.active) {
        this.$refs.link.$el.focus();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.question {
  margin-bottom: 30px;
}
</style>
