<template>
  <span class="spinner"></span>
</template>

<script>
export default {
  name: 'Spinner',
};
</script>

<style scoped>
  .spinner {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: var(--light) solid 5px;
    border-top-color: var(--primary);
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

  100% {
    transform: rotate(360deg);
    }
  }
</style>
