<template>
  <div id="app">
    <transition :name="direction">
      <router-view/>
    </transition>
    <overlay/>
    <modal-author-questions/>
  </div>
</template>

<script>
import Overlay from '@/components/Overlay';
import ModalAuthorQuestions from '@/components/ModalAuthorQuestions';

export default {
  name: 'App',

  components: {
    Overlay,
    ModalAuthorQuestions,
  },

  data () {
    return {
      direction: 'forward',
    };
  },

  watch: {
    '$route' (to, from) {
      const indexFrom = this.$router.options.routes.findIndex(({name}) => name === from.name);
      const indexTo = this.$router.options.routes.findIndex(({name}) => name === to.name);
      this.direction = indexFrom < indexTo ? 'forward' : 'back';
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  .forward {
    &-enter {
      &-active {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.7s, opacity 0.7s;
      }
      &-to {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    &-leave {
      &-active {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(0%);
        opacity: 0;
        transition: transform 0.7s, opacity 0.7s;
      }
      &-to {
        opacity: 1;
        transform: translateX(-100%);
      }
    }
  }

  .back {
    &-enter {
      &-active {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.7s, opacity 0.7s;
      }
      &-to {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    &-leave {
      &-active {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(0%);
        opacity: 0;
        transition: transform 0.7s, opacity 0.7s;
      }
      &-to {
        opacity: 1;
        transform: translateX(100%);
      }
    }
  }
}
</style>
